<%- include('../partials/adminsimheader') -%>

  <div class="contain">
    <div class="row">
      <div class="col-3">
        <%- include('../partials/adminSidebar') -%>
      </div>
      <div class="col-6">
        <form action="" method="post" style="border:1px solid #ccc">
            <div class="container" style="border: none;">
              <h1>Edit an Birth Report</h1>
              <p>Please fill in this form to create an Birth Report.</p>
              <hr>
              <div class="row">
                <div class="col-5 w-100">
                  <label for="cars"><b>Birth Type</b></label>
                  <select name="birth_type" value="<%=user.birth_type%>" id="cars" style="background-color: #F5F5F5; width: 100%;">
                    <option value="Vaginal_Birth"> Vaginal Birth</option>
                    <option value="Cesarean_Section_(C-Section)">Cesarean Section (C-Section)</option>
                    <option value="Induced_Birth">Induced Birth</option>
                    <option value="Assisted_Birth">Assisted Birth</option>
                    <option value=" Home_Birth"> Home Birth</option>
                    <option value="Water_Birth">Water Birth</option>
                    <option value="Natural_Birth">Natural Birth</option>
                  </select>
                </div>
              </div>
              <br>
              <label for="patient_name"><b>Patient Name</b></label>
              <input type="text" value="<%=user.patient_name%>" placeholder="Enter patient_Name" name="patient_name" required>
  
              <label for="doctor_name"><b>Doctor Name</b></label>
              <input type="text" value="<%=user.doctor_name%>" placeholder="Enter doctor_Name" name="doctor_name" required>
  
              <label for="date"><b>Date</b></label>
              <input type="date" value="<%=user.date%>" placeholder="Enter date" name="date" required style="background-color: #F5F5F5; width: 100%;">
              <br>
              <br>
  
              <div class="col-12">
                <label for="">Success</label>
                <input type="radio" name="status" value="1">
                <label for="">fallied</label>
                <input type="radio" name="status" value="0">
              </div>
              <br>
  
              <label for="email"><b>Email</b></label>
              <input type="email" value="<%=user.email%>" placeholder="Enter Email" name="email" required>
  
              <label for="mobile"><b>Mobile #</b></label>
              <input type="text" value="<%=user.mobile%>" placeholder="Enter mobile number" name="mobile" required>
              
              <div class="col-md-12">
                <input type="hidden" name="user_id" value="<%=user._id%>">
            </div>
  
              <div class="clearfix">
                <button type="submit" class="signupbtn w-100">Submit</button>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>





  <% if(typeof message !=='undefined' ){ %>
    <div class="container">
      <div class="col-8 w-50" style="margin: 10px auto;">
        <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;">
          <%= message %>
        </p>
      </div>
    </div>
    <% } %>

      <%- include('../partials/adminsimfooter') -%>