<%- include('../partials/header') -%>

    <section class="bookAppointment">
        <h1 class="heading">
            <a href="/Userdashboard" class="sbtn">User Dashboard</a>
        </h1>
        <div class="container">

            <div class="box">
                <div class="image">
                    <img src="/image/<%=user.image%>" alt="">
                </div>
                <div class="content">
                    <h3><%=user.name%></h3>
                    <div class="resg">
                        <p>Surgan</p>
                        <div><i class="fa fa-star" aria-hidden="true"></i> 4.5 (2)</div>
                    </div>
                    <div class="check">
                        <p>At Amount Adora Hospital, LAHORE</p>
                        <!-- <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> -->
                    </div>
                    <a href="/payment?id=<%= user._id %>" class="sbtn">Payment</a>

                </div>
            </div>

            <div class="box2">
                <div class="price">
                    <h4>Total Price</h4>
                    <p>120USD</p>
                </div>
                <div class="time">
                    <h3>Available Time</h3>
                </div>
                <div class="timeslot">
                    <div>
                        <h4>Sunday</h4>
                        <h4>Tuesday</h4>
                        <h4>Friday</h4>
                    </div>
                    <div>
                        <p>4:30pm -- 9:30pm</p>
                        <p>4:30pm -- 9:30pm</p>
                        <p>5pm -- 9pm</p>
                    </div>
                </div>
                <a href="/payment?id=<%= user._id %>" class="sbtn">BookAppointment</a>
            </div>
        </div>

    </section>


    <section class="bookMenu">
        <div class="container">
            <div class="menu">
                <div id="about">About</div>
                <div id="feed">Experience</div>

                <div id="content">

                    <div id="aboutcontent">
                        <h1>About of <span>Dr. altaf ahmad</span></h1>
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit, totam saepe
                                aut,
                                pariatur autem suscipit, commodi cumque ullam reiciendis ducimus necessitatibus?
                                Accusamus
                                est dolore, mollitia nam provident ab magni iste nemo, ratione explicabo ipsa voluptate
                                vero
                                tenetur enim quos.</p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum doloribus veniam
                                repudiandae minus vitae reprehenderit Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Harum doloribus veniam repudiandae minus vitae reprehenderit?</p>
                        </div>
                        <h3>Education</h3>
                        <div class="education">
                            <div class="box">
                                <h4>2012 -- 2014</h4>
                                <p>PhD</p>
                                <p>Allama iqbal Medical College</p>
                            </div>
                            <div class="box">
                                <h4>2011 -- 1012</h4>
                                <p>M-Phil in Neuroscience</p>
                                <p>Punjab University lahore</p>
                            </div>
                            <div class="box">
                                <h4>2008 -- 2010</h4>
                                <p>BSc in Neuroscience</p>
                                <p>Allama iqbal Medical College</p>
                            </div>
                        </div>
                    </div>
                    <div id="feedcontent">
                        <h1>Experience <span> Dr. altaf ahmad</span></h1>
                        <div class="para">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit, totam saepe
                                aut,
                                pariatur autem suscipit, commodi cumque ullam reiciendis ducimus necessitatibus?
                                Accusamus
                                est dolore, mollitia nam provident ab magni iste nemo, ratione explicabo ipsa voluptate
                                vero
                                tenetur enim quos.</p>
                        </div>
                        <h3>Experience</h3>
                        <div class="experience">
                            <div class="box">
                                <h4>2012 -- 2014</h4>
                                <p>Associate Professor</p>
                                <p>Mount Adora Hospital, Sialkot</p>
                            </div>
                            <div class="box">
                                <h4>2012 -- 2014</h4>
                                <p>Associate Professor</p>
                                <p>Mount Adora Hospital, Sialkot</p>
                            </div>
                            <div class="box">
                                <h4>2012 -- 2014</h4>
                                <p>Associate Professor</p>
                                <p>Mount Adora Hospital, Sialkot</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </section>

    <%- include('../partials/footer') -%>