<%- include('../partials/header') -%>



    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->


    <!-- hero section start  -->
    <section class="hero">
        <div class="hero-container">
            <div class="box-1">
                <h2 style="font-weight: 650;">We help patients live a healthy, longer life.</h2>
                <p style="text-align: left; font-size: 12px;">Transforming lives through personalized care, we guide patients towards optimal health and longevity. Our holistic approach integrates cutting-edge treatments with compassionate support, empowering individuals to thrive and embrace life to the fullest.</p>
                <!-- <a href="/finddoctor" class="btn">Request an Appointment</a> -->
                <a onclick="document.getElementById('id01').style.display='block'" class="sbtn">Book a
                    Appointment</a>
                <div class="exp">
                    <div class="box">
                        <h1>30+</h1>
                        <p>Years of Experience</p>
                    </div>
                    <div class="box">
                        <h1>15+</h1>
                        <p>Clinic Location</p>
                    </div>
                    <div class="box">
                        <h1>100%</h1>
                        <p>Patients Satisfaction</p>
                    </div>
                </div>
            </div>
            <div class="box-2">
                <div class="image">
                    <img src="/image/hero/Nurse.png" alt="">
                </div>
                <div class="box">
                    <img src="/image/hero/labou.png" alt="">
                    <img src="/image/hero/pharma.png" alt="">
                </div>
            </div>
        </div>
    </section>



    <!-- brand secton start  -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <section class="brand">
        <div class="brand-container">
            <div class="box">
                <img src="/image/brands/4.png" alt="">
            </div>
            <div class="box">
                <img src="/image/brands/3.png" alt="">
            </div>
            <div class="box">
                <img src="/image/brands/2.png" alt="">
            </div>
            <div class="box">
                <img src="/image/brands/1.png" alt="">
            </div>
        </div>
    </section>



    <!-- Appointment service secton start  -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <section class="find">
        <div class="findheading">
            <h2>Providing the best medical services</h2>
            <p>World-class care for everyone. Our health System offers unmatched, exprt health car. </p>
        </div>
        <div class="container">

            <div class="box">
                <img src="/image/findservice/find2.png" alt="">
                <div class="content">
                    <h3>Find a Doctor</h3>
                    <p>World-class care for everyone. Our health System offers unmatched, exprt health car. From the lab
                        to the clinic.</p>
                    <!-- <a href="/finddoctor" class="sbtn">Find a Doctor</a> -->
                    <a onclick="document.getElementById('id01').style.display='block'" class="sbtn">Find Doctor</a>
                </div>
            </div>

            <div class="box">
                <img src="/image/findservice/find1.png" alt="">
                <div class="content">
                    <h3>Book Appointment</h3>
                    <p>World-class care for everyone. Our health System offers unmatched, exprt health car. From the lab
                        to the clinic.</p>
                    <!-- <a href="/finddoctor" class="sbtn">Book a Appointment</a> -->
                    <a onclick="document.getElementById('id01').style.display='block'" class="sbtn">Book a
                        Appointment</a>

                </div>
            </div>

            <div class="box">
                <img src="/image/findservice/find3.png" alt="">
                <div class="content">
                    <h3>Find a location</h3>
                    <p>World-class care for everyone. Our health System offers unmatched, exprt health car. From the lab
                        to the clinic.</p>
                    <a href="/contact" class="sbtn">Find a Location</a>

                </div>
            </div>

        </div>
    </section>





    <!-- proud secton start  -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->
    <!-- /* ++==================================================================================== */ -->

    <section class="proud">
        <dib class="container">
            <div class="box1">
                <img src="/image/proud/1.png" alt="">
            </div>
            <div class="box2">
                <h2>Proud To Be One Of The Nations Best.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum commodi inventore possimus sit
                    quod? Voluptates enim, aliquid ea aliquam saepe vitae pariatur sit quaerat nesciunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, blanditiis! Illum dolores at laborum
                    velit rerum, asperiores rem pariatur nihil consequatur architecto qui officia, labore, nulla
                    doloribus provident iusto aperiam.</p>
                <a href="/blog" class="btn">Learn More</a>
            </div>
        </dib>
    </section>


    <section class="proud">
        <dib class="container">
            <div class="box2">
                <h2>Get Virtual Treatment Anytime</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum commodi inventore possimus sit
                    quod? Voluptates enim, aliquid ea aliquam saepe vitae pariatur sit quaerat nesciunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, blanditiis! Illum dolores at laborum
                    velit rerum, asperiores rem pariatur nihil consequatur architecto qui officia, labore, nulla
                    doloribus provident iusto aperiam.</p>
                <a href="/blog" class="btn">Learn More</a>
            </div>
            <div class="box1">
                <img src="/image/proud/2.png" alt="">
            </div>
        </dib>
    </section>






    <section class="blog">
        <div class="heading">
            <h1><span></span> Read Ours Blogs</h1>
        </div>

        <div class="blog-container">

            <div class="container">
                <!-- <tr> -->
                <% if(user.length> 0){ %>

                    <% for (var i=0; i < 3 ; i++) { %>
                        <tr>
                            <div class="box" onclick="window.location.href='/detail_post?id=<%= user[i]._id %>'">
                                <div class="image">
                                    <td>
                                        <img src="/image/<%= user[i].image %>" class="img-fluid "
                                            alt="<%= user.image %>">
                                    </td>
                                </div>
                                <div class="content">
                                    <h1 style="text-align: left;">
                                        <%=user[i].title%>
                                    </h1>
                                    <div class="icons">
                                        <i class="fa fa-calendar" aria-hidden="true">
                                            <span>23/02/2023</span></i>
                                        <i class="fa fa-user" aria-hidden="true"> <span>admin</span></i>
                                    </div>
                                    <p style="width: 100%; overflow-wrap: break-word; text-align: left;">
                                        <%=user[i].description.substring(0, 150) %>
                                    </p>
                                    <div class="button">
                                        <a href="/detail_post?id=<%= user[i]._id %>" class="xlbtn">Read More</a>
                                        <div class="icons">
                                            <i class="fa fa-comments" aria-hidden="true"> <span>21k</span></i>
                                            <i class="fa fa-thumbs-up" aria-hidden="true"> <span>2M</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        <% } %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="5">
                                        <h1 class="p-5">DataNotFound</h1>
                                    </td>
                                </tr>
                                <% } %>
                                    </tr>
            </div>

        </div>
    </section>



    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->
    <!-- =========================================================================================== -->

    <section class="testimonial">
        <div class="heading">
            <h1><span></span> Doctor's</h1>
        </div>
        <div class="test-container">

            <div class="box-1">
                <h4>TESTIMONIAL</h4>
                <h1>Good News From our Client</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus autem, excepturi consectetur
                    facilis repellendus impedit qui quisquam sapiente dolorum sit dicta soluta temporibus eaque iusto
                    quod expedita! Vel, quia officiis?</p>
            </div>

            <div class="box-2">

                <div class="box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. quos inventore enim modi placeat
                        aperiam consectetur.</p>
                    <div class="image">
                        <img src="/image/doctor/pic-1.png" alt="">
                        <div class="content">
                            <h3>John Deo</h3>
                            <span>Diesigner</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. quos inventore enim modi placeat
                        aperiam consectetur.</p>
                    <div class="image">
                        <img src="/image/doctor/pic-2.png" alt="">
                        <div class="content">
                            <h3>John Deo</h3>
                            <span>Diesigner</span>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. quos inventore enim modi placeat
                        aperiam consectetur.</p>
                    <div class="image">
                        <img src="/image/doctor/pic-3.png" alt="">
                        <div class="content">
                            <h3>John Deo</h3>
                            <span>Diesigner</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. quos inventore enim modi placeat
                        aperiam consectetur.</p>
                    <div class="image">
                        <img src="/image/doctor/pic-4.png" alt="">
                        <div class="content">
                            <h3>John Deo</h3>
                            <span>Diesigner</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>






    <%- include('../partials/footer') -%>