<%- include('../partials/pharmasimheader') -%>


  <div class="contain">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-9">
        <form action="/pharma/prescription" method="post" enctype="multipart/form-data" style="border:1px solid #ccc">
          <div class="container" style="border: none;">
            <h1>Write Prescription</h1>
            <p>Please fill in this form to Write Prescription.</p>
            <hr>

            <div class="contain">

              <div class="row mt-3 mb-3">
                <div class="col-4">
                  <label for="date_of_issue"><b>Date: </b></label>
                  <input type="date"value="<%=user.date_of_issue%>" placeholder="date" name="date_of_issue" default="0" style="background-color: #f1f0f0; padding: 5px 16px;" required>
                </div>
                <div class="col-4">
                  <label for="visit"><b>Visit: </b></label>
                  <input type="number" value="<%=user.visit%>" placeholder="0 " name="visit" style="background-color: #f1f0f0; padding: 5px 16px;" required>
                </div>
                <div class="col-4">
                  <label for="visit"><b>Gender: </b></label>
                  <label for="">male</label>
                  <input type="radio" name="gender" value="1">
                  <label for="">female</label>
                  <input type="radio" name="gender" value="0">
                </div>
              </div>

              <div class="row mt-3 mb-3" >
                <div class="col-6">
                  <label for="patient_name"><b>Patient_Name    <br></b><label>
                    <input type="text" value="<%=user.patient_name%>" placeholder="Enter patient_name" name="patient_name" class="w-100" required>
                </div>

                <div class="col-6">
                  <label for="case_history"><b>Case History</b></label>
                  <input type="text"value="<%=user.case_history%>" placeholder="Enter case_history" name="case_history" required>
                </div>

              </div>

              <div class="row mt-3 mb-3">
                <div class="col-4">
                  <label for="medication"><b>Medication</b></label>
                  <input type="text"value="<%=user.medication%>" placeholder="Enter Medication " name="medication" required>
                </div>
                <div class="col-4">
                  <label for="drug_name"><b>drug_name</b></label>
                  <input type="text"value="<%=user.drug_name%>" placeholder="Enter drug_name " name="drug_name" required>
                </div>
                <div class="col-4">
                  <label for="drug_strength"><b>drug_strength</b></label>
                  <input type="text"value="<%=user.drug_strength%>" placeholder="Enter drug_strength " name="drug_strength" required>
                </div>
              </div>

              <div class="row mt-3 mb-3">
                <div class="col-4">
                  <label for="quantity"><b>Quantity <br></b></label><br>
                  <input type="number"value="<%=user.quantity%>" placeholder="0" name="quantity" default="0"style="background-color: #f1f0f0; padding: 5px 16px;" required>
                </div>
                <div class="col-4">
                  <label for="amount"><b>Amount</b></label>
                  <input type="text"value="<%=user.amount%>" placeholder="Enter Amount " name="amount" required>
                </div>
                <div class="col-4">
                  <label for="image"><b>Image</b></label>
                  <input type="file" name="image" required>
                </div>
              </div>

              <div class="row mt-3 mb-3">
                <div class="col-6">
                  <label for="mobile"><b>Mobile</b></label>
                  <input type="text" value="<%=user.mobile%>" placeholder="Enter Mobile No" name="mobile" required>
                </div>
                <div class="col-6">
                  <label for="email"><b>Email</b></label>
                  <input type="email" value="<%=user.email%>" placeholder="Enter Email" name="email" required>
                </div>
              </div>

              <div class="row mt-3 mb-3">
                <div class="col-12">
                  <label for="description"><b>Detail Description <br></b></label><br>
                  <!-- <input type="text" placeholder="Enter " name="" required> -->
                  <textarea name="description" value="<%=user.description%>" id="" cols="100" rows="5" class="w-100"style="background-color: #f1f0f0; padding: 5px 16px;"></textarea>
                </div>
              </div>

            </div>
          
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>


            <div class="clearfix">
              <button type="submit" class="signupbtn w-100">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <% if(typeof message !=='undefined' ){ %>
    <div class="container">
      <div class="col-8 w-50" style="margin: 10px auto;">
        <p style="color:white; padding: 2rem; background-color: blue; border-radius: 5px;">
          <%= message %>
        </p>
      </div>
    </div>
    <% } %>

      <%- include('../partials/pharmasimfooter') -%>