<%- include('../partials/doctorsimheader') -%>
    <div class="contain">
        <div class="row">

            <div class="col-3">

                <%- include('../partials/doctorSidebar') -%>

            </div>

         <div class="col-2 mt-3 profile">

                <!-- <img src="/image/<%=user.image%>" class="img-fluid img-thumbnail" alt="<%=user.image%>"> -->
                <h3 class="">
                    <%=user.name%>
                </h3>
                <p class="">
                    <%=user.education%>
                  
                </p>
                <p class="">
                    <%=user.email%>
                </p>
                <div class="button">
                    <a href="/doctor/prescription_edit?id=<%=user._id%>" class="sbtn">Edit</a>
                    <a href="/doctor/logout" class="sbtn">Logout</a>
                    <a onclick="window.print()" class="sbtn mb-5" > Print.</a>

                </div>
                <div class="social">
                    <box-icon type='logo' name='facebook-square'></box-icon>
                    <box-icon type='logo' name='instagram'></box-icon>
                    <box-icon type='logo' name='linkedin-square'></box-icon>
                    <box-icon type='logo' name='twitter'></box-icon>
                </div>

            </div>

            <div class="col-6 aboutme " style="background-color: #fff;">

                <div class="row">
                    <div class="col-2">
                        <h1>
                            <img class="logo" src="/image/home/logo.svg" style="width: 120px;" alt="">
                    
                          </h1>
                    </div>
                    <div class="col-10 mt-4">
                        <p style="font-size: 9px; text-align: right; line-height: 6px;"><b>MocDoc Hospital</b></p>
                        <p style="font-size: 9px; text-align: right; line-height: 6px;"><b>Street 23, gulshan iqbal Lahore</b></p>
                        <p style="font-size: 9px; text-align: right; line-height: 6px;">visitDate: <%=user.date%></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p style="border-top: 1px solid rgba(0,0,0,0.5);"></p>
                    </div>
                </div>

                <div class="row pb-5">
                    <div class="col-3">
                        <img src="/image/barcode/barcode.png" style="height: 60px; width: 160px;" alt="">
                    </div>
                    <div class="col-4">
                        <p style="text-align: center; font-size: 9px; line-height: 3px;" ><b><%=user.name%></b></p>
                        <p style="text-align: center; font-size: 9px; line-height: 3px;" ><%=user.id_card%></p>
                        <p style="text-align: center; font-size: 9px; line-height: 3px;" ><%=user.address%></p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3">
                                <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>F/Spouse:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>CNIC:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>Mobile:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>Email:</b></p>
                            </div>
                            <div class="col-7">
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.fathername%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.id_card%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.mobile%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.email%></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3">
                                <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>Clinic:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>Visit:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>Edu:</b></p>
                                <p style="text-align: left; font-size: 10px; line-height: 4px;"><b>Token:</b></p>
                            </div>
                            <div class="col-7">
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.clinic%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.visit%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.education%></p>
                                <p style="text-align: left; font-size: 9px; line-height: 4px;" ><%=user.id%></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="border: 1px solid rgba(0,0,0,0.5);">
                    <div class="offset-1 col-2 pt-3">
                        <p style="text-align: left; font-size: 9px;"><b>Temp(FC)</b></p>
                    </div>
                    <div class="col-2 pt-3">
                        <p style="text-align: left; font-size: 9px;"><b>B.P(MmHg)</b></p>
                    </div>
                    <div class="col-2 pt-3">
                        <p style="text-align: left; font-size: 9px;"><b>Pulse</b></p>
                    </div>
                    <div class="col-2 pt-3">
                        <p style="text-align: left; font-size: 9px;"><b>Weight(KG)</b></p>
                    </div>
                    <div class="col-2 pt-3">
                        <p style="text-align: left; font-size: 9px;"><b>Height(Inch)</b></p>
                    </div>
                </div>
                

                <div class="row mt-5">
                    <div class="col-6 " style="height: 150px; border-right: 1px solid rgba(0,0,0,0.5);border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>Presenting Complaints:</b></p>
                        <p style="text-align: left; font-size: 10px;" ><%=user.complaints%></p>
                    </div>
                    <div class="col-6" style="height: 150px; border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>History:</b></p>
                        <p style="text-align: left; font-size: 10px;"><%=user.history%></p>
  
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6" style="height: 150px; border-right: 1px solid rgba(0,0,0,0.5);border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>Examination:</b></p>
                        <p style="text-align: left; font-size: 10px;"><%=user.examination%></p>
                                   
                    </div>
                    <div class="col-6" style="height: 150px; border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <p style="text-align: left; font-size: 10px; line-height: 4px;" ><b>Treatment</b>:</b></p>
                        <p style="text-align: left; font-size: 10px;"><%=user.treatment%></p>
                                 
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6" style="border-right: 1px solid rgba(0,0,0,0.5);border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <img src="/image/barcode/barcode.png" style="height: 50px; width: 150px; margin-bottom: 10px;" alt="">           
                        <p style="text-align: left; font-size: 9px; line-height: 3px;" ><b><%=user.name%></b></p>
                        <p style="font-size: 9px; text-align: left; line-height: 15px;">visitDate: <%=user.date%></p>
                    </div>
                    <div class="col-6" style="border-bottom: 1px solid rgba(0,0,0,0.5);">
                        <img src="/image/barcode/barcode.png" style="height: 50px; width: 150px; margin-bottom: 10px;" alt="">           
                        <p style="text-align: left; font-size: 9px; line-height: 3px;" ><b><%=user.name%></b></p>
                        <p style="font-size: 9px; text-align: left; line-height: 15px;">visitDate: <%=user.date%></p>
                    </div>
                </div>
                    
                </div>
                

            </div>

        </div>


        <%- include('../partials/doctorsimfooter') -%>